{{ settiles([0, 1, 2]) }}
{% import "tiles/random.html.twig" as random %}
{% set facescount = random(20) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <base href="{{ app.request.getSchemeAndHttpHost() }}" target="_blank">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% trans %}general.title{% endtrans %}</title>
    <meta name="description" content="{% trans %}general.desc{% endtrans %}">

    <meta name="twitter:widgets:csp" content="on">
    <meta name="twitter:dnt" content="on">

    <link rel="shortcut icon" sizes="16x16" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="icon" sizes="16x16" type="image/png" href="favicon.png">
    <link rel="icon" sizes="any" type="image/svg+xml" href="favicon.svg">
    <link rel="apple-touch-icon" sizes="129x129" type="image/png" href="apple-touch-icon.png">

    <link rel="canonical" hreflang="{{ app.request.locale }}" href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getRequestUri() }}">
    <link rel="alternate" hreflang="x-default" href="{{ app.request.getSchemeAndHttpHost() }}">
    {{ locale_switcher(null, null, 'lang_links.html.twig') }}

    {% stylesheets '../app/Resources/public/less/index.less' filter='lessphp' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@mozilla_tabzilla_css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    {# Load bower dependencies before our main scripts. Sadly masonry's
       dependencies somehow don't get loaded correctly with the assetic asset
       alias. #}
    {% javascripts '@minimal_overlay_js'
                   '../app/Resources/public/components/masonry/dist/masonry.pkgd.js'
                   '@jquery_js'
                   '@resize_sensor_js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '../app/Resources/public/scripts/*.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <header id="masthead">
        <div class="container">
            <div id="tabzilla">
                <a href="https://mozilla.org/">Mozilla</a>
            </div>
            <nav id="nav-main" role="navigation">
                <span class="toggle" role="button" aria-expanded="false" aria-controls="nav-main-menu" tabindex="0">
                    {% trans %}header.menu{% endtrans %}
                </span>
                <ul id="nav-main-menu">
                    <li class="first"><a href="https://donate.mozilla.org/?currency=chf">{% trans %}general.donate{% endtrans %}</a></li>
                    <li><a href="https://www.mozilla.org/mission">{% trans %}header.mission{% endtrans %}</a></li>
                    <li><a href="https://support.mozilla.org/">{% trans %}header.support{% endtrans %}</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main role="main">
        <header class="main-header">
            <div class="container">
                <h1><img src="images/mozillach_wordmark-white.svg" width="403" alt="Mozilla.ch" height="82"></h1>
            </div>
        </header>

        <section class="promo-grid-wrapper">
            <div class="promo-grid-inner">
                <ul class="promo-grid">
                    <li class="item promo-large-portrait firefox-download">
                      <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/new/">
                          <div class="primary">
                              <h2 class="go">{% trans %}tiles.download-firefox{% endtrans %}</h2>
                              <img width="228" height="237" src="/images/firefox_logo-only.svg">
                          </div>
                      </a>
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-large-landscape" id="upcoming-events">
                        {{ render(controller(
                            'AppBundle:Default:nextEventTile'
                        )) }}
                    </li>
                    <li class="item promo-large-portrait no-background">
                        <a class="twitter-timeline" href="https://twitter.com/MozillaCH" data-widget-id="581826491673128960" data-chrome="noheader nofooter">Tweets by @MozillaCH</a>
                        <script src="https://platform.twitter.com/widgets.js"></script>
                    </li>
                    {{ random.rendertinytile() }}
                    <li class="item promo-large-landscape mdn no-background">
                      <a class="panel-link" rel="external" href="https://developer.mozilla.org">
                          <h2>Mozilla Developer Network</h2>
                      </a>
                    </li>
                    <li class="item promo-small-landscape past-events">
                        <a class="panel-link" rel="external" href="http://www.meetup.com/Mozilla-Meetup-Switzerland/events/past">
                            <h2>{% trans %}tiles.pastevents{% endtrans %}</h2>
                        </a>
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    {{ random.rendertile() }}
                </ul>
            </div>
        </section>
        <section class="module" id="secondary-links">
            <div class="container">
                <div class="get-involved">
                    <h2>{% trans %}getinvolved.title{% endtrans %}</h2>
                    <p>{% trans %}getinvolved.description{% endtrans %}</p>
                </div>
                <ul>
                    <li>
                        <a class="l10n" rel="external" href="{% trans %}l10n.url{% endtrans %}">
                            <h2>{% trans %}l10n.title{% endtrans %}</h2>
                            <p>{% trans %}l10n.description{% endtrans %}</p>
                        </a>
                    </li>
                    <li>
                        <a class="contact" rel="external" href="https://discourse.mozilla-community.org/c/communities/switzerland">
                            <h2>{% trans %}get-in-touch.title{% endtrans %}</h2>
                            <p>{% trans %}get-in-touch.description{% endtrans %}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="colophon">
        <nav class="row">
            <div class="col col-1">
                <h1 class="logo"><a href="https://mozilla.org/">Mozilla</a></h1>
                <p class="license">{{ "footer.copyright"|trans|raw }}</p>
            </div>
            <div class="col col-2">
                <ul class="links-join">
                    <li><a href="https://mozilla.org/contact/spaces/">{% trans %}footer.contact{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/about/partnerships/">{% trans %}footer.partner{% endtrans %}</a></li>
                    <li class="clear"><a href="https://donate.mozilla.org/?currency=chf" class="donate">{% trans %}general.donate{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://www.mozilla.org/contribute/friends/">{% trans %}footer.firefoxaffiliates{% endtrans %}</a></li>
                    <li class="clear"><a href="https://github.com/mozillach/mozilla.ch">{% trans %}footer.contribute{% endtrans %}</a></li>
                </ul>
                <ul class="links-legal">
                    <li><a href="https://mozilla.org/privacy/">{% trans %}footer.privacy{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/privacy/websites/#cookies">{% trans %}footer.cookies{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/about/legal/">{% trans %}footer.legal{% endtrans %}</a></li>
                    <li class="clear"><a href="https://mozilla.org/about/legal/fraud-report/">{% trans %}footer.trademark-abuse{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col col-3">
                <ul class="links-social">
                    <li itemscope itemtype="http://schema.org/Organization">
                        <link itemprop="url" href="http://mozilla.ch">
                        {% trans %}footer.mozilla-ch{% endtrans %}
                        <ul>
                            <li><a itemprop="sameAs" rel="me" href="https://twitter.com/MozillaCH">Twitter<span> (@MozillaCH)</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="lang-switcher">
                    {{ locale_switcher(null, null, 'lang_switcher.html.twig') }}
                </div>
            </div>
        </nav>
    </footer>
</body>
</html>
