{{ settiles([1, 2, 3, 4]) }}
{% import "tiles/random.html.twig" as random %}
{% set facescount = random(20) %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <base href="{{ app.request.getSchemeAndHttpHost() }}" target="_blank">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>mozilla.ch</title>
    <meta name="description" content="">

    <link rel="shortcut icon" sizes="16x16" href="favicon.ico">

    <link rel="canonical" hreflang="{{ app.request.locale }}" href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getRequestUri() }}">
    <link rel="alternate" hreflang="x-default" href="{{ app.request.getSchemeAndHttpHost() }}">
    <link rel="alternate" hreflang="de-CH" href="{{ app.request.getSchemeAndHttpHost() }}/de" title="Deutsch">
    <link rel="alternate" hreflang="en-CH" href="{{ app.request.getSchemeAndHttpHost() }}/en" title="English">
    <link rel="alternate" hreflang="fr-CH" href="{{ app.request.getSchemeAndHttpHost() }}/fr" title="Français">
    <link rel="alternate" hreflang="it-CH" href="{{ app.request.getSchemeAndHttpHost() }}/it" title="Italiano">
    <link rel="alternate" hreflang="rm" href="{{ app.request.getSchemeAndHttpHost() }}/rm" title="Rumantsch">

    {% stylesheets '../app/Resources/public/less/index.less' filter='lessphp' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <script src="https://www.mozilla.org/media/js/libs/jquery-1.7.1.min.js"></script>

    <!-- Tabzilla intergration -->
    <link href="https://www.mozilla.org/media/css/tabzilla-min.css" rel="stylesheet" />
    <script src="https://www.mozilla.org/tabzilla/tabzilla.js"></script>

    {% javascripts '../app/Resources/public/scripts/*.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>
<body>
    <header id="masthead">
        <div class="container">
            <a href="/{{ app.request.locale }}/" id="tabzilla" data-infobar="update" aria-label="Mozilla links">Mozilla</a>
            <nav id="nav-main" role="navigation">
                <span class="toggle" role="button" aria-expanded="false" aria-controls="nav-main-menu" tabindex="0">
                    {% trans %}header.menu{% endtrans %}
                </span>
                <ul id="nav-main-menu">
                    <li class="first"><a href="https://sendto.mozilla.org/page/contribute/">{% trans %}general.donate{% endtrans %}</a></li>
                    <li><a href="https://www.mozilla.org/mission">{% trans %}header.mission{% endtrans %}</a></li>
                    <li><a href="https://support.mozilla.org/">{% trans %}header.support{% endtrans %}</a></li>
                    <li class="last"><a href="https://www.mozilla.org/">mozilla.org</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main role="main">
        <header class="main-header">
            <div class="container">
                <h1><img src="images/mozillach_wordmark-white.svg" width="403" alt="Mozilla.ch" height="82"></h1>
            </div>
        </header>

        <section class="promo-grid-wrapper">
            <div class="promo-grid-inner">
                <ul class="promo-grid">
                    <li class="item promo-large-portrait ndg">
                        <a class="panel-link" href="javascript:void" target="_self">
                            <h2>{% trans %}tiles.ndg{% endtrans %}</h2>
                        </a>
                    </li>
                    <li class="item promo-small-landscape firefox-download">
                        <a class="panel-link" rel="external" href="https://www.mozilla.org/firefox/all/">
                            <div class="primary">
                                <h2 class="go">{% trans %}tiles.download-firefox{% endtrans %}</h2>
                                <img width="176" height="184" src="https://www.mozilla.org/media/img/home/voices/promos/download-firefox/firefox-logo.png">
                            </div>
                        </a>
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-large-landscape" id="upcoming-events">
                        {{ render(controller(
                            'AppBundle:Default:nextEventTile'
                        )) }}
                    </li>
                    <li class="item promo-large-portrait no-background">
                        <a class="twitter-timeline" href="https://twitter.com/MozillaCH" data-widget-id="581826491673128960" data-chrome="noheader nofooter">Tweets by @MozillaCH</a>
                        <script src="https://platform.twitter.com/widgets.js"></script>
                    </li>
                    {{ random.rendertinytile() }}
                    <li class="item promo-large-landscape">
                        TODO: EMPTY FOR NOW
                    </li>
                    <li class="item promo-small-landscape past-events">
                        <a class="panel-link" rel="external" href="http://www.meetup.com/Mozilla-Meetup-Switzerland/events/past">
                            <h2>{% trans %}tiles.pastevents{% endtrans %}</h2>
                        </a>
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    <li class="item promo-face">
                        {{ render(controller(
                            'AppBundle:Default:contributorTile',
                            { 'index': facescount }
                        )) }}
                        {% set facescount = facescount + 1 %}
                    </li>
                    {{ random.rendertile() }}
                </ul>
            </div>
        </section>
        <section class="module" id="secondary-links">
            <div class="container">
                <div class="get-involved">
                    <h2>{% trans %}getinvolved.title{% endtrans %}</h2>
                    <p>{% trans %}getinvolved.description{% endtrans %}</p>
                </div>
                <ul>
                    <li>
                        <a class="l10n" rel="external" href="{% trans %}l10n.url{% endtrans %}">
                            <h2>{% trans %}l10n.title{% endtrans %}</h2>
                            <p>{% trans %}l10n.description{% endtrans %}</p>
                        </a>
                    </li>
                    <li>
                        <a class="contact" rel="external" href="https://lists.mozilla.org/listinfo/community-switzerland">
                            <h2>{% trans %}get-in-touch.title{% endtrans %}</h2>
                            <p>{% trans %}get-in-touch.description{% endtrans %}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer id="colophon">
        <nav class="row">
            <div class="col col-1">
                <h1 class="logo"><a href="https://mozilla.org/">Mozilla</a></h1>
                <p class="license">{{ "footer.copyright"|trans|raw }}</p>
            </div>
            <div class="col col-2">
                <ul class="links-join">
                    <li><a href="https://mozilla.org/contact/spaces/">{% trans %}footer.contact{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/about/partnerships/">{% trans %}footer.partner{% endtrans %}</a></li>
                    <li class="clear"><a href="https://sendto.mozilla.org/page/contribute/" class="donate">{% trans %}general.donate{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://affiliates.mozilla.org/">{% trans %}footer.firefoxaffiliates{% endtrans %}</a></li>
                    <li class="clear"><a href="https://github.com/mozillacommunitych/mozilla.ch">{% trans %}footer.contribute{% endtrans %}</a></li>
                </ul>
                <ul class="links-legal">
                    <li><a href="https://mozilla.org/privacy/">{% trans %}footer.privacy{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/privacy/websites/#cookies">{% trans %}footer.cookies{% endtrans %}</a></li>
                    <li class="wrap"><a href="https://mozilla.org/about/legal/">{% trans %}footer.legal{% endtrans %}</a></li>
                    <li class="clear"><a href="https://mozilla.org/about/legal/fraud-report/">{% trans %}footer.trademark-abuse{% endtrans %}</a></li>
                </ul>
            </div>
            <div class="col col-3">
                <ul class="links-social">
                    <li itemscope itemtype="http://schema.org/Organization">
                        <link itemprop="url" href="http://mozilla.ch">
                        {% trans %}footer.mozilla-ch{% endtrans %}
                        <ul>
                            <li><a itemprop="sameAs" rel="me" href="https://twitter.com/MozillaCH">Twitter<span> (@MozillaCH)</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="lang-switcher">
                    <form id="lang_form">
                        <label for="language">{% trans %}footer.other-languages{% endtrans %}</label>
                        <select id="language" name="lang">
                            <option lang="de-CH" value="de" {% if app.request.locale == "de" %} selected="selected"{% endif %}>Deutsch</option>
                            <option lang="en" value="en" {% if app.request.locale == "en" %} selected="selected"{% endif %}>English</option>
                            <option lang="fr-CH" value="fr" {% if app.request.locale == "fr" %} selected="selected"{% endif %}>Français</option>
                            <option lang="it-CH" value="it" {% if app.request.locale == "it" %} selected="selected"{% endif %}>Italiano</option>
                            <option lang="rm" value="rm" {% if app.request.locale == "rm" %} selected="selected"{% endif %}>Rumantsch</option>
                        </select>
                        <noscript>
                            <button type="submit">{% trans %}footer.go{% endtrans %}</button>
                        </noscript>
                    </form>
                </div>
            </div>
        </nav>
    </footer>
    <div id="ndg-overlay" hidden>
        <dialog>
            <a id="close_ndg-overlay" class="close-overlay" href="javascript:void" target="_self">x</a>
            <div id="ndg">
                <blockquote><p>{% trans %}ndg.quote{% endtrans %}</p>
                <cite><a href="https://www.mozilla.org/about/manifesto/" rel="external">{% trans %}ndg.manifesto{% endtrans %}</a></cite></blockquote>
                <p>{% trans %}ndg.desc{% endtrans %}</p>
		<div class="ndgbox">
			<a href="{% trans %}ndg.url{% endtrans %}" rel="external">{% trans %}ndg.url{% endtrans %}</a>
			<a href="{% trans %}ndg.url2{% endtrans %}" rel="external">{% trans %}ndg.url2{% endtrans %}</a>
		</div>
            </div>
        </dialog>
    </div>
</body>
</html>
