<li class="marketplace-app">
    <img src="{{ application.icons['64']|e('html_attr') }}" height="64" width="64">
    <a href="https://marketplace.firefox.com/app/{{ application.slug|e('html_attr') }}" rel="external">
        <h1>
        {% if app.request.locale in application.name %}
            {{ application.name[app.request.locale]|e('html') }}
        {% else %}
            {{ application.name[application.default_locale]|e('html') }}
        {% endif %}
        </h1>
        <address>{{ application.author|e('html') }}</address>
    </a>
    {% if attribute(application.description, app.request.locale) is defined %}
        {{ application.description[app.request.locale]|raw|nl2br }}
    {% else %}
        {{ application.description[application.default_locale]|raw|nl2br }}
    {% endif %}

</li>
